* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  outline:none
}

ul li {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-columns: 1fr min(1200px, calc(100% - 64px)) 1fr;
  column-gap: 5rem;
  font-family: 'Cormorant Garamond', serif;
  background: linear-gradient(0.5turn, white, #d4ddeb,  rgba(177, 174, 174, 0.2));
  align-items: center;
  justify-content: center;
}

header,
footer
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2;

}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2;  

}

/*header style*/
.header-master,
.footer-master {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1.25rem;
}
.header-master {
  width: 85%;
}
.header-master .search{
  
  display:inline-block;
  background-color: #fff;
  
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
#header-container {
  background-color: white;
  z-index: 999;
}


/*logo*/
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  margin: 0.625rem 0 0 0;
  cursor: pointer;
  width:100%;

}

.logo .companyName {
  display: inline-flex;
  padding-left: 1rem;
  font-size: 1.125rem;
  color: #000000;
  min-height: 2.8125rem;
  align-items: center;
  font-weight: 1000;
}

/*navigation*/
.register{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*flex-wrap: wrap;*/
}
i {
  position: relative;
  /* Adjust these values accordingly */
  top: 4px;
  left: 5px;
  cursor: pointer;
}
.search-input {
  display: flex;
  padding-left: 2rem;
  max-width: 15rem;
}
.search.hidden {
  display: none
}


.register input, .registerUl {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.25rem;
  margin: 0.625rem 0 0 0;
}
.register input {
  border-radius: 1rem;
  border: 1px solid #e0e0e0;
  outline: none;
  /*position:relative;*/
  padding-left: 2rem;
}
.close-icon{
    position: absolute;
    padding: 10px 12px;
    top:0.8rem;
    right:0;
}

.listName {
    display:none;
    position: absolute;
    background-color:white;
    border: 1px solid #ff6700;
    width: 15rem;
    border-top: 0;
    max-width: 15rem;
    
}
.listName a{
  display: block;
  text-align: left;
  padding: 6px 10px;
  color: #424242;
  
}

.listName a:hover {
     background-color: #eee;
 }


 /*navbar*/
.nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.25rem;
  position: relative;

}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1.25rem;
  margin: 0.625rem 0 0 0;

}

.nav ul li,
.register ul li {
  display: inline-flex;
  list-style: none;
  padding-left: 1rem;
  margin: 0 0.625rem;
  font-size: 1.125rem;
  color: #000000;
  min-height: 2.8125rem;
  font-weight:bold;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  text-align: center;
  flex-direction: column;

}
.nav-panel-whatson, .nav-panel-booknow, .nav-panel-critique, .nav-panel-aboutus{
  display:none;
  list-style: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  border-radius: 5px;
 
  
}

.nav ul li:hover,
.register ul li:hover {
  font-size:1.3rem;
}

.nav-panel-whatson a, .nav-panel-booknow a, .nav-panel-critique a, .nav-panel-aboutus a{
  display:block;
  text-align:left;
  color: black;
  padding: 12px 10px;
  text-decoration: none;
}
.nav ul li:first-child:hover .nav-panel-whatson {
  display: block;
  transition:all 2s;
  -moz-transition:all 5s; /* Firefox 4 */
  -webkit-transition:all 2s; /* Safari and Chrome */
  -o-transition:all 2s; 
}
.nav ul li:nth-child(2):hover .nav-panel-booknow  {
  display: block;
}
.nav ul li:nth-child(3):hover .nav-panel-critique  {
  display: block;
}
.nav ul li:nth-child(4):hover .nav-panel-aboutus  {
  display: block;
}



/*footer style*/

.footer-master {
  padding: 2rem 1rem 5rem 1rem;
  margin: 2rem 1rem 5rem 1rem;
  width: 80%;
  justify-content: space-between;
  align-content: center;
  
}
.find ul li, .address, .contact{
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
  list-style: none;
  padding-left: 1rem;
  margin: 0 0.625rem;
  font-size: 1.125rem;
  min-height: 2.8125rem; 
  transition: all 0.5s ease-out;

}
.find ul li:first-child {
  font-weight: bolder;
}

.find ul li:hover {
  font-size:1.3rem;
}


.address span, .address {
  display: inline-flex;
  margin: 0 0.625rem;
  font-size: 1.125rem;
  min-height: 2.8125rem;

}
.address span{
  font-weight: bolder;

}
.contact p, .contact a {
  display:block;
  flex-direction: column;
  flex-wrap:wrap;
  margin: 0 0.625rem;
  font-size: 1.125rem;
  min-height: 1.8125rem;

}
.contact p:first-child{
  font-weight: bolder;

}
  


/*swiper style*/
.app {
  display: flex;
  flex-direction:column;
  position: relative;
  width: 80%;
  margin: 1rem auto;
}


.swiper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  
}
/*table*/
.table {
  width: 50%;

}

.slider-intro {
  display: flex;
  width: 100%;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-between;
}
.slider-intro span{
  display: inline-flex;
  align-items: center;  
  padding: 0 1.525rem;
}

thead th, tfoot th {
  font-family: 'Cormorant Garamond', serif;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}



/*divider*/
.divider{
  display:flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 3rem;
  padding: 1rem;
  margin: 3rem;
  background-color: #FA434B;
  
}

.divider span a {
  padding: 0.5rem 1rem;
  margin:1rem;
  border:1px solid #f4f4f4;
  color: #f4f4f4;
  border-radius:1rem;

}
/*Breaking news part*/

.news{
  display: flex;
  flex-direction:column;
  flex-wrap:wrap;
  width:80%;
  justify-content: center;
  align-items: center;
}
.breaking-news{
  padding: 1.125rem;
  font-size:1rem;;
  font-weight:bolder;
  letter-spacing: 2px;
}

.breaking-news-imgs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.breaking-news-imgs figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.breaking-news-imgs figure figcaption {
  text-align: center;
  font-weight: bolder;
}
.breaking-news-imgs figure p {
  text-align: justify;
  letter-spacing: 1.2px;
  line-height:1.2em;
  padding: 1rem;
}
.breaking-news-imgs img{
  display: inline-flex;
  height: 10rem;
  width: 28rem;
  object-position: 50% 50%;
  padding: 0.5rem;
}

/*critique part*/
.critique-master{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.critique {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:90%;
 
}
.critique div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding:0.1rem;
  margin: 0.225rem;
}
.critique div:first-child{
  font-weight: bolder;
  font-size:1.2rem;
  letter-spacing: 2px;
}
.critique div figure {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  

}
.critique img {
  display: inline-flex;
  max-width:70%;
  padding: 0.5rem 0.3rem;
  object-fit: contain;
  object-position: 50% 50%;
  cursor: pointer;
  border-radius: 3rem;
  box-shadow: 10px 5px 5px rgb(96, 93, 93, 0.2);
 

}
/*.checked {
  color:#FA434B;
}
.uncheck {
  color: green;

}*/
/*seats plan container*/
.seats-plan{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:80%;
  
}

.seats-plan figure{
display: flex;
flex-direction: column;
position: relative;
margin: 1rem auto;
align-items: center;
justify-content: center;
margin: 1rem auto;
}
.seats-plan figure img {
 border-radius: 1rem;
 overflow: hidden;
 width: 100%;
 height: 100%;
}


/*seats plan theater info*/
.theare-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.theatre-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  line-height:2.815rem;
}

.theaterName {
  font-weight: 1000;
  font-size: 1.125rem;
}
.theatre-time-button{
padding: 0.5rem;
margin-right: 1.5rem;
background-color: rgba(230, 45, 45, 0.5);
border-radius: 1rem;
}

/*book button*/
.book-button {
  margin-top: 5rem;
}
.book-button button {
  padding: 0.5rem;
  margin-right: 1.5rem;

}

.book-button button {
  padding: 0.5rem;
  margin-right: 1.5rem;
  border-radius: 1rem;

}

.book-button button:first-of-type {
  padding: 0.5rem;
  margin-right: 1.5rem;
  background-color: rgba(230, 45, 45, 0.5);
  border-radius: 1rem;

}

.book-button button:first-of-type:hover {
  padding: 0.8rem;
  background-color: rgba(230, 45, 45, 0.8);
 

}

.book-button button:nth-child(2) {
  padding: 0.5rem;
  margin-right: 1.5rem;
  background-color: rgba(103, 103, 103, 0.2);
  border-radius: 1rem;

}

.book-button button:nth-child(2):hover {
  padding: 0.8rem;
  background-color: rgba(118, 115, 115, 0.7);

}


/*seats*/
.theater-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  color:rgb(95, 93, 93, 0.2); 
  padding: 1.125rem;
  margin:1.125rem;
 }
 .theater-row {
   font-size: 1.125rem;
   color:rgb(95, 93, 93, 0.6)
 }
 .theater-plan-model{
   font-size: 2.5em;
   line-height:12px;
   display:inline-block;
 }
 
 .theater-plan-model:hover{
  color:rgba(161, 37, 37, 0.9);
}
.seats-bottom {
  text-align: right;
  color:rgb(95, 93, 93);
  
 
}

/*registration style*/
main[data-id="3"] {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: linear-gradient(200deg, #e3c5eb, #a9c1ed);*/
  background: linear-gradient(200deg, #FF5158, rgba(161, 37, 37, 0.5));
  overflow: hidden;
  height: 100vh;
  margin:0;
  padding:0;
}
.registration-master {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  height: 80%;
}

.registration-form {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  /*width: 350px;
  height: 650px;*/
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  padding: 1rem 8rem;
  margin: 3rem, auto;
}

.registration-form h3 {
  font-size: 26px;
  margin: 45px auto 40px auto;
}

.registration-form input {
  width: 280px;
  height: 30px;
  text-indent: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline:none;
  margin: 12px auto;
}

.registration-form button{
  width: 280px;
  height: 40px;
  margin: 35px auto 40px auto;
  border: none;
 /* background: linear-gradient(-200deg, #FF5158, #aac2ee);*/
  background: linear-gradient(-200deg, #dce2ed, #FF5158);
  color: #fff;
  font-weight: bold;
  letter-spacing: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  
}

.registration-form button:hover{
  background-color: rgba(161, 37, 37, 0.5);
  background-position-x: -280px; 

}

.registration-form span{
  font-size: 14px;
}

.registration-form a {
  color: #FF5158;
  text-decoration: none;
}
.squre ul li, .circle ul li{
  position: absolute;
  border: 1px solid #fff;
  background-color: #fff;
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 0;
}
.squre li {
  top: 40vh;
  left: 60vw;
  /*animation: animation name, duration, linear, indefinite*/
  animation: square 10s linear infinite;
}

.squre li:nth-child(2) {
  top: 80vh;
  left: 10vw;
  animation-delay: 2s;
}

.squre li:nth-child(3) {
  top: 80vh;
  left: 85vw;
  animation-delay: 4s;
}

.squre li:nth-child(4) {
  top: 10vh;
  left: 70vw;
  animation-delay: 6s;
}

.squre li:nth-child(5) {
  top: 10vh;
  left: 10vw;
  animation-delay: 8s;
}

.circle li {
  bottom: 0;
  left: 15vw;
  animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {
  left: 35vw;
  animation-delay: 2s;
}
.circle li:nth-child(3) {
  left: 55vw;
  animation-delay: 4s;
}
.circle li:nth-child(4) {
  left: 75vw;
  animation-delay: 6s;
}
.circle li:nth-child(5) {
  left: 90vw;
  animation-delay: 8s;
}



/*define animation*/
@keyframes square {
  0%{
    transform: scale(0) rotateY(0deg);
    opacity: 1;
  }
  100%{
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
  }
}

@keyframes circle {
  0%{
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }
  100%{
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 90vh;
    border-radius: 50%;
  }
}

/*news page*/
/*[data-id="4"] {
  display:flex;
  align-items: center;
  justify-content: center;
  
}*/
.news-master{
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  border-radius: 1rem;;
  background:linear-gradient(white, #dce2ed );
  box-shadow: -1em 0 .4em #dce2ed, 3px 3px #f4f4f4,;
}
.news-image{
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  grid-column:1;
}
article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-column:2;
  flex-direction:column;
  margin-top: 7rem;
}
.news-title{
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
 
}
article p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  flex-wrap:wrap;
  padding: 1rem;
}

@media screen and (max-width: 1200px){
  .news-master {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px){
  .breaking-news-imgs{
    flex-direction: column;
    
  }
  .news-master{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    align-items: center;
  }
  .seats-plan figure img {
    height: 20rem;
    width: 35rem;
   }
   article {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 720px) {
  .divider {
    display:none;
  }
  .breaking-news-imgs figure p {
    text-align: justify;
    letter-spacing: 1.2px;
    line-height:1.2em;
    padding: 1rem;
  }
  .breaking-news-imgs img{
    display: inline-flex;
    height: 10rem;
    width: 18rem;
    object-position: 50% 50%;
    padding: 0.5rem;
  }
  .seats-plan figure img {
    height: 15rem;
    width: 20rem;
   }
   .news-image img{
     height: 15rem;
     width: 25rem;

   }
   .registration-form {
    
    width: 350px;
    height: 600px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 1rem 3rem;
    margin: 3rem, auto;
  
  }
  .registration-form input {
    width: 200px;
    height: 30px;
    text-indent: 8px;
    border: none;
    border-bottom: 1px solid #ddd;
    outline:none;
    margin: 12px auto;
  }
  .header-master {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
}

@media screen and (max-width: 550px) {
.address, .contact {
  display: none;
}

.find{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 2;

}

.theare-info-section {
 
  flex-direction: column;
}
.theatre-day {
  display: flex;
  flex-direction: row;
}
.theatre-room, .theatre-date{
  display: inline-flex;
  justify-content: space-around;
  padding-right: 1rem;
}
.seats-plan figure img {
  height: 10rem;
  width: 20rem;
 }
 .news-image img{
  height: 10rem;
  width: 18rem;
}

.nav{
  display: none;
}
article {
  margin-top: 1rem;
}

.book-button {
  margin-top: 1rem;
}
.register input {
  width:70%;
  border-radius: 1rem;
}
}

